/* default style for the body and heading */

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1rem; 
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Prata', serif;
}
/* end of the default style */


/* logo design */
.nav_brand {
    height: 35px !important; 
}

/* end logo design */

/* navigation style */ 
.nav-bg {
    background: #232F3E; 
}

.navbar-expand-sm .navbar-nav .nav-link {
    color: white; 
    font-size: 1em; 
    font-weight: bold; 
    font-family: 'Prata', serif;
    padding: 5px; 
    border: 1px solid #232F3E; 
}

.navbar-expand-sm .navbar-nav .nav-link:hover {
    color: red; 
    border: 1px solid gray;
}
/* navigation style ends here */ 

/* mobile nav style */
.new_items .nav-link, #lightSlider .nav-link {
    border: 1px solid #232F3E; 
    color:white; 
    font-weight: bold; 
    display: inline-block;
    padding: 8px; 
}

.new_items .nav-link:hover, #lightSlider .nav-link:hover {
    border: 1px solid gray;
    color: red; 
}

#lightSlider li {
    display: block;
    padding-top: 3px;
}

/* submenu style */
.ml-8 {
    margin-left: 12%; 
} 


/*media query for submenu style */
@media only screen and (max-width: 900px){
    .ml-8 {
        margin-left: 18% !important; 
    }
}

@media only screen and (max-width: 1800){
    .ml-8 {
        margin-left: 18% !important; 
    }
} 

/* end sub mobile menu here */

/* search style */
.search_category {
    width: 150px; 
    height: 38px !important;
    
}
/* end search style */

.main_form .input-group-text {
    height: auto !important; 
}

/* carousel style */

.carousel-item {
    background-color: black; 
}

.carousel-caption {
width:350px;
z-index:10;
color:#fff;
text-align:center;
top:50%;
right:60%;
bottom:auto;
-webkit-transform:translate(0, -50%);
-ms-transform:translate(0, -50%);
transform:translate(0, -50%);
}

.carousel-item {
    bottom: initial;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel-item img {
    height: 18em;
    widows: 100%; 
    opacity: 0.3; 
}

/* carousel button style */
.btn-c-default {
    background: #232F3E; 
    border: 2px solid gray; 
    color: white;
    font-size: 1em;
    font-weight: bold !important; 
}

.btn-c-default:hover {
    color: white; 
    border: 2px solid #232F3E;
}

.carousel-caption p {
    font-weight: 400;
}

.carousel-caption h3 {
    font-size: 2em; 
    font-weight: 900 !important; 
}

/* style for recent viewed items */

.recent_images {
    height: 33%; 
    width: auto !important;
}

h3.recent_head {
    color: black;
    font-size: 1.5em;
    font-weight: 900 !important;
    font-family: 'Prata', serif;
}

.price {
        display: block; 
        margin: 0px auto; 
        text-align: center;
        color: black;
        font-weight: 400;
}

.price:hover {
    color:#333; 
    text-decoration: underline; 
}
