/* default style for the body and heading */

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1rem; 
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Prata', serif;
}
/* end of the default style */


/* logo design */
.nav_brand {
    height: 35px !important; 
}

/* end logo design */

/* navigation style */ 
.nav-bg {
    background: #232F3E; 
}

.navbar-expand-sm .navbar-nav .nav-link {
    color: white; 
    font-size: 1em; 
    font-weight: bold; 
    font-family: 'Prata', serif;
    padding: 10px; 
    border: 1px solid #232F3E; 
}

.navbar-expand-sm .navbar-nav .nav-link:hover {
    color: red; 
    border: 1px solid gray;
}
/* navigation style ends here */ 

/* mobile nav style */
.new_items .nav-link {
    border: 1px solid #232F3E; 
    color:white; 
    font-weight: bold; 
    display: inline-block;
    padding: 8px; 
}

.new_items .nav-link:hover {
    border: 1px solid gray;
    color: red; 
}

/* submenu style */
.ml-8 {
    margin-left: 10%; 
} 

/*media query for submenu style */
@media only screen and (max-width: 900px){
    .ml-8 {
        margin-left: 20% !important; 
    }
}

